---
layout: default
title: Blog
order: 5
permalink: /blog/
---

    <main id="main_blog">
      <header>
        <h1>Blog</h1>

      </header>
      <section>
        {% for post in site.posts %}
          <article class="blog_post">
            <a href="{% if post.redirection %}
                        {{post.redirection}}
                      {% else %}
                        {{post.url}}
                    {% endif %}">
            </a>

            <h1>
              <a href="{% if post.redirection %}
                          {{post.redirection}}
                        {% else %}
                          {{post.url}}
                      {% endif %}" class="lien_article_texte">
              {{ post.title }}
              </a>
            </h1>

            <p>
              {{ post.intro }}
            </p>

            <a href="{% if post.redirection %}
                        {{post.redirection}}
                      {% else %}
                        {{post.url}}
                    {% endif %}" class="lien_article_texte">
              Lire la suite sur {{ post.nom_blog }} ➞
            </a>

          </article>
          <hr>


        {% endfor %}
      </section>




    </main>
