---
layout: default
title: Ce que je fais
order: 3
permalink: /ce_que_je_fais/
---

    <main id="main_ce_que_je_fais">
      <header>
        <h1>Ce que je fais</h1>
        <p>
          De sites internets publics aux applications métiers, en passant par la réalisation d’IHM ou d’applications mobiles, je suis disponible pour vous guider dans le processus de recherche, conception et réalisation de votre interface.
        </p>
        <p>
          Si vous avez des questions, n’hésitez pas à <a class="lien_inline" href="{{ site.baseurl }}/me_contacter">me contacter</a> pour que nous en discutions.
        </p>
        <p>
          NB: Certaines de mes réalisations sont soumises à confidentialité et ne peuvent être diffusées en ligne.
        </p>
      </header>
      <section>
        <header>
          <h1>Recherche utilisateur</h1>
          <p>
            Je déploie des méthodes allant de l'interview au test utilisateur pour permettre à chacun de s'exprimer sur ce qu'il utilise afin de repérer les points de friction et trouver des pistes d'améliorations.
          </p>
        </header>
        <ul class="liste_projets">
          {% assign projets_ux = site.projets | where: "categories", "ux" %}
          {% for projet in projets_ux %}

            <li class="vignette_projet">
              <a href="{{ projet.url }}">
                <figure>
                  <img src="{{ projet.vignette_url }}" alt="vignette du projet {{ projet.title }}">
                </figure>
              </a>
              <h1>
                <a href="{{ projet.url }}">
                  {{ projet.problematique }}
                </a>
              </h1>
              <h2>{{ projet.competences }}</h2>
            </li>

          {% endfor %}
        </ul>



      </section>
      <section>
        <header>
          <h1>Conception & Design d'interface</h1>
          <p>
            Je conçois des interfaces utiles et utilisables pour les utilisateurs, en portant une attention particulière à l'aspect ergonomique de ce que je réalise.
          </p>
        </header>
        <ul class="liste_projets">
          {% assign projets_ui = site.projets | where: "categories", "ui" %}
          {% for projet in projets_ui %}

            <li class="vignette_projet">
              <a href="{{ projet.url }}">
                <figure>
                  <img src="{{ projet.vignette_url }}" alt="vignette du projet {{ projet.title }}">
                </figure>
              </a>
              <h1>
                <a href="{{ projet.url }}">
                  {{ projet.problematique }}
                </a>
              </h1>
              <h2>{{ projet.competences }}</h2>
            </li>

          {% endfor %}
        </ul>
      </section>
      <section>
        <header>
          <h1>Sketchnote</h1>
          <p>
            Les sketchnotes sont une prise de note sous forme graphique que j'apprécie pour mettre en forme visuellement mes idées. Je sketchnote conférences et moments de vie sans distinctions.
          </p>
        </header>
        <ul class="liste_projets">

          {% for annee in site.sketchnotes %}
            <li class="vignette_projet">
              <img src="{{ annee.vignette_url }}" alt="{{ annee.vignette_title }}">
              <h1>{{ annee.vignette_title }}</h1>
            </li>
          {% endfor %}
        </ul>

        <a class="lien_button primary_button" href="/projets/sketchnote">Voir les sketchnotes</a>
      </section>
      <section>
        <h1>Mais encore…</h1>
        <ul class="liste_projets">
          {% assign projets_side = site.projets | where: "categories", "side" %}
          {% for projet in projets_side %}

          <li class="vignette_projet">
            <a href="{{ projet.url }}">
              <figure>
                <img src="{{ projet.vignette_url }}" alt="vignette du projet {{ projet.title }}">
              </figure>
            </a>
            <h1>
              <a href="{{ projet.url }}">
                {{ projet.problematique }}
              </a>
            </h1>
            <h2>{{ projet.competences }}</h2>
          </li>

          {% endfor %}
        </ul>
      </section>
    </main>

<!-- Remplacer les <img> par des <svg> mais que devient l'attribut alt ? -->
