---
layout: default
title: Qui suis-je ?
order: 2
permalink: /qui_suis_je/
---

    <main>
      <header id="qui_suis_je_header">
        <h1>Qui suis-je ?</h1>
        <img src="/img/photo_profil.jpg" alt="Une photo de moi" id="photo_profil">
        <p>
          <em>Amoureuse du web et du numérique,</em> j'aime <em>affiner et améliorer les idées</em> pour les rendre accessibles à chacun. <em>Agile et curieuse,</em> j'utilise toute une palette de compétences hétérogènes pour réaliser des sites responsive ou des applications métiers, sur très grands ou tout petits supports.
        </p>
        <p>
          Concrètement, je fais de l'<em>UX Design</em> en questionnant et observant les utilisateurs pour comprendre comment <em>améliorer leur expérience,</em> puis je <em>conçois des solutions en mêlant graphisme et ergonomie</em> dans une interface qui leur rendra la vie plus belle ! Portée par mon expérience en équipe pluridisciplinaire, j'adhère à un échange constant avec chacun pour partager <em>une vision commune autour d'un projet</em> à l'aide de <em>méthodes et outils créatifs.</em>
        </p>
        <p>
          Le reste du temps, je <em>parle japonais</em>, m'extasie devant des <em>animaux mignons</em>, <em>traine en ville</em> quand il fait beau ou <em>saute dans un train</em> pour changer d'air !
        </p>
      </header>
      <section>
        <h1>Envie de discuter ?</h1>
        <span>Et si on prenait un chocolat ?</span>
        <div class="cote_cote">
          <a class="lien_button primary_button" href="{{ site.baseurl }}/me_contacter">Avec plaisir !</a>
          <a class="lien_button secondary_button" href="{{ site.baseurl }}/me_contacter">Un café plutôt…</a>
        </div>
      </section>
      <section id="passions">
        <h1>Je me passionne pour tout un tas de choses :</h1>
        <section>
          <h1>Écrire pour partager ma vision et mes connaissances</h1>
          <ul class="liste_projets">
            {% for post in site.posts limit:2 %}
              <li class="vignette_projet">
                <article>
                  <a href="{% if post.redirection %}
                              {{post.redirection}}
                            {% else %}
                              {{post.url}}
                          {% endif %}">
                    <figure>
                      <img src="{{ post.vignette_url }}" alt="{{ post.alt_vignette }}">
                    </figure>
                  </a>
                  <h1>
                    <a href="{% if post.redirection %}
                                {{post.redirection}}
                              {% else %}
                                {{post.url}}
                            {% endif %}" class="lien_article_texte">
                    {{ post.title }}
                    </a>
                  </h1>
                  <p>
                    {{ post.intro }}
                  </p>
                  <a href="{% if post.redirection %}
                              {{post.redirection}}
                            {% else %}
                              {{post.url}}
                          {% endif %}" class="lien_article_texte">
                    Lire la suite sur {{ post.nom_blog }} ➞
                  </a>
                </article>
              </li>
            {% endfor %}
          </ul>
        </section>
        <section id="rencontres">
          <h1>Rencontrer des gens et échanger autour de mon métier (et pas que)</h1>

          {% for annee in site.rencontres reversed %}
          <h2>{{annee.title}}</h2>
          <ul>
            {% for rencontre in annee.rencontres %}
            <li>
                <a href="{{rencontre.url}}">
                  <img src="{{rencontre.image}}" alt="Logo de {{rencontre.title}}">
                </a>
            </li>
            {% endfor %}
          </ul>
          {% endfor %}
        </section>
        <section id="hobbies">
          <h1>Et aussi…</h1>
          <ul>
            <li>
              <img src="/img/hobbies/animation.png" alt="Image représentant l'animation, une grande main au centre et d'autres petites mains aux alentours.">
            </li>
            <li>
              <img src="/img/hobbies/cinema.png" alt="Image représentant le cinéma d'animation, avec Wall-E, la queue de Crocmou de Dragons, et des charbons représentant les films ghibli.">
            </li>
            <li>
              <img src="/img/hobbies/culture.png" alt="Image représentant les cultures d'autres pays, avec un djembé pour l'afrique, le mont fuji et un soleil rouge pour le Japon, et une Hinano pour Tahiti.">
            </li>
            <li>
              <img src="/img/hobbies/ecologie.png" alt="Image représentant l'écologie avec une feuille et un panda roux trop mignon !'">
            </li>
            <li>
              <img src="/img/hobbies/jeu.png" alt="Image représentant les jeux de société avec un dé de 10 faces, un loup-garou de Thiercelieux, et les symboles des éléments de 7 wonders.">
            </li>
            <li>
              <img src="/img/hobbies/lecture.png" alt="Image représentant la lecture, avec un gros bouquin relié et décoré.">
            </li>
            <li>
              <img src="/img/hobbies/retrogaming.png" alt="Image représentant les jeux vidéos rétro avec une gameboy color, une pokéball, un pacman et une triforce.">
            </li>
          </ul>
          <!-- Changer les fonds des images des hobbies ? -->
        </section>
      </section>
    </main>

<!-- Remplacer les <img> par des <svg> mais que devient l'attribut alt ? -->
