    <footer  id="main_footer_wrapper">
      <div id="main_footer">
        <h1>
          <a href="http://www.maiwann.net">
            <span>
            Portfolio de Maïtané Lenoir
            </span>
            <span>
              alias
              <img src="/img/logo_footer.svg" alt="Maiwann">
            </span>
            <!-- Remplacer par un svg -->
          </a>
        </h1>
        <div id="bottom_footer">
          <section>
            <h1>Retrouvez-moi via :</h1>
            <ul>
              <li>
                <a href="mailto:{{ site.email }}">
                  <img src="/img/icone_mail_footer.svg" alt="Icône mail">
                  <span> {{ site.email }} </span>
                </a>
              </li>
              <li>
                <a href="https://www.twitter.com/{{ site.twitter_username }}">
                  <img src="/img/icone_twitter_footer.svg" alt="Icône Twitter">
                  <span> @{{ site.twitter_username }} </span>
                </a>
              </li>
              <li>
                <a href="https://{{ site.mastodon_instance }}/@{{ site.mastodon_username }}">
                  <img src="/img/icone_mastodon_footer.svg" alt="Icône Mastodon">
                  <span> @{{ site.mastodon_username }}@{{ site.mastodon_instance }} </span>
                </a>
              </li>
            </ul>
          </section>
          <section id="dernier_article">
            <h1> Mes derniers articles: </h1>
            {% for post in site.posts limit:3 %}
              <p>
                <a href="{% if post.redirection %}
                            {{post.redirection}}
                          {% else %}
                            {{post.url}}
                        {% endif %}">
                        <span>{{post.title}}</span>
                </a>
              </p>
            {% endfor %}
          </section>
          <section>
            <a href="https://matias.ma/nsfw/" class="lien_button primary_button">
            Une surprise ?
            </a>
          </section>
          <section id="competition_remuneration">
            <a href="http://competitionremuneration.metiers-graphiques.fr/">
              <img src="/img/competition_remuneration.svg" alt="Logo Compétition = Rémunération">
            </a>
          </section>
        </div>
      </div>
    </footer>

  </body>
</html>

<!-- Remplacer les <img> par des <svg> mais que devient l'attribut alt ? -->
